# =========================

# Application

# =========================

PORT=5000
NODE_ENV=development

# =========================

# MongoDB

# =========================

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/database

# =========================

# JWT

# =========================

JWT_SECRET=your_jwt_secret_here

# =========================

# Discord

# =========================

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/xxxxxxxxxxxxxxxx

# =========================

# Admin

# =========================

ADMIN_NOM=Admin
ADMIN_PRENOM=Admin
ADMIN_IDENTIFIANT=admin.admin
ADMIN_PASSWORD=change_me

# =========================

# Frontend

# =========================

FRONTEND_URL=http://localhost:3000
